.display-4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#gifButtonsArray {
    text-align: center;
}

form  {
    text-align: center;
}

#add-gif {
    text-align: center;
}