.display-4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#gifButtonsArray {
    text-align: center;
}

form, p, .display-4   {
    text-align: center;
}

#add-gif {
    text-align: center;
}

.gifDiv {
    display: inline-block;
    padding: 10px;
  }

body {
    background-color: #F0F8FF;
}

.button, #add-gif {
    color: #6183A6;
}